* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #302C42;
    border-radius: 70px;
    width: 100vw;
    height: 100vh;
}

.container {
    margin: 35px 75px;
}

header {
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo-vr {
    width: 102px;
    height: 103px;
    margin-right: 15px;
}

.hydra {
    width: 76px;
    height: 46px;
    margin-right: 200px;
}

.header-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin-right: 40px;
    cursor: pointer;
}

.button-header {
    right: 84px;
}

#contact-us {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding: 17px 34px;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #302C42;
    margin-left: 130px;
    margin-right: 38px;
    box-shadow: 0px 3px 8px black;
    border: none;
    cursor: pointer;
}

#contact-us:hover {
    background-color: #58536d;
}

#contact-us:active {
    background-color: #827a9e;
}

#join {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #343045;
    padding: 17px 34px;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border-radius: 40px;
    box-shadow: 0px 3px 8px black;
    border: none;
    cursor: pointer;
}

#join:hover {
    opacity: 0.8;
}

#join:active {
    opacity: 0.5;
}

main {
    position: relative;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-section {
    width: 50%;
    display: inline-block;
}

.right-section {
    width: auto;
    display: inline-block;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    color: #FFFFFF;
    width: 456px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    margin: 4px 0 36px 0;
    width: 402px;
}

span {
    background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 66px;
    color: #FFFFFF;
    width: 450px;
}

#build {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    display: block;
    color: #343045;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    border-radius: 40px;
    box-shadow: 0px 3px 8px black;
    padding: 17px 43px;
    border: none;
    cursor: pointer;
}

#build:hover {
    opacity: 0.8;
}

#build:active {
    opacity: 0.5;
}

.arrow {
    position: relative;
    width: 100px;
    height: 100px;
    bottom: 77px;
    left: 230px;
    cursor: pointer;
}

.vr-mask {
    width: 490px;
    height: 426px;
}

footer {
    position: relative;
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.location-img {
    width: 70px;
    height: 70px;
}

.box-location {
    width: 290px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.address {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin: 0;
}

.phone-img {
    width: 59px;
    height: 59px;
    margin: 0px 10px 0 90px;
}

.box-phone {
    width: 290px;
}

h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.phone-number {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin: 0;
}

.email-img {
    width: 65px;
    height: 65px;
}

.box-email {
    width: 290px;
}

h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.email {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin: 0;
    cursor: pointer;
}

.email:hover {
    color: grey;
}

.email:active {
    color: #302C42;
}

.menu-mobile {
    display: none;
}

.rectangle-mobile {
    display: none;
}

.circle-left {
    display: none;
}

.circle-right {
    display: none;
}

@media screen and (max-width: 900px) {

    .container {
        margin: 0;
        height: 100vh;
        width: 100vw;
    }

    header {
        display: flex;
        margin: 25px 0 0 20px;
    }

    .logo-vr {
        width: 69px;
        height: 59px;
    }

    .hydra {
        width: 46px;
        height: 28px;
        margin: 0;
    }

    .header-link {
        display: none;
    }

    .button-header {
        display: none;
    }

    .menu-mobile {
        display: inline-block;
        position: relative;
        margin: 0 20px 0 202px;
        cursor: pointer;
    }

    main {
        display: block;
    }

    .vr-mask {
        display: block;
        margin: 0 auto;
        width: 315.67px;
        height: 273.04px;
        box-shadow: 0px 0px 10px 10px #0a0a0a3d;
        border-radius: 60px 60px 67px 160px;
    }

    .left-section {
        display: block;
        position: absolute;
        top: 300px;
        width: 100%;
    }

    .right-section {
        display: block;
    }

    h1 {
        display: block;
        font-weight: 700;
        font-size: 22px;
        line-height: 42px;
        text-align: center;
        width: auto;
    }

    span {
        font-size: 30px;
    }

    h2 {
        display: block;
        font-weight: 700;
        font-size: 21px;
        line-height: 22px;
        text-align: center;
        width: auto;
        margin: 5px 0 30px 0;
    }

    p {
        display: none;
    }

    #build {
        display: block;
        margin: 0 auto;
        padding: 17px 70px;
        font-size: 14px;
        line-height: 17px;
    }

    .arrow {
        display: none;
    }

    footer {
        display: flex;
        position: relative;
        top: 250px;
    }

    .location-img {
        display: block;
        width: 50px;
        height: 50px;
    }

    .box-location {
        display: block;
        width: 195px;
        margin-right: 15px;
    }

    h3 {
        display: none;
    }

    .address {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        width: 195px;
    }

    .rectangle {
        display: none;
    }

    .contacts {
        display: flex;
    }

    .phone-img {
        display: none;
    }

    .box-phone {
        display: none;
    }

    .email-img {
        display: none;
    }

    .box-email {
        display: none;
    }

    .rectangle-mobile {
        display: block;
        height: 100px;
        width: 350px;
        position: relative;
        top: 5px;
    }

    .circle-left {
        display: block;
        position: absolute;
        left: 45px;
    }

    .circle-right {
        display: block;
        position: absolute;
        right: 45px;
    }

}